Package: com.matchstick.bannerdisable
Name: BannerDisable SBSettings Toggle
Version: 1.0-1
Description: Toggles the BannerDisable tweak on/off
Section: Addons (SBSettings)
Depends: firmware (>= 5.0), sbsettings, me.melkhior.bannerdisable
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: matchstick
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

